.aboutTitle {
    position:absolute;
    font-size: 400%;
    left: 50%;
    /*display: none;*/
}

.aboutText{
    font-size:large;
}

.textBlock {
    width:20%;
    height:63.9%;
    position:fixed;
    border-color:black;
    border-style:solid;
    padding:15px;
    left: 55.5%;
    top: 20%;
}

.image {
    position: fixed;
    border-style:solid;
    width:22.4%;
    height:67.1%;
    top: 20%;
    left:33%;
    object-fit:cover;
}