.aboutTitle {
    position:absolute;
    font-size: 400%;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    /*display: none;*/
}

.aboutText{
    font-size:large;
}

.textBlock {
    width:20%;
    height:63.9%;
    position:fixed;
    border-color:black;
    border-style:solid;
    padding:15px;
    left: 53%;
    top: 20%;
    min-height:400px;
    overflow:hidden;
}

.image {
    position: fixed;
    border-style:solid;
    width:15%;
    height:40%;
    top: 33%;
    left:33%;
    object-fit:cover;
}