.name {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    display: none;
}

.linkContainer {
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    display: none;
}

.link {
    text-decoration: none;
    color:dimgray;
    
}